html, body{
  height: 100%;
  width: 100%;
  background-color: grey;
}

.nav-bar{
  height: 100px;
  width: 100%;
  background-color: tomato;
}

.main-row{
  height: 80%;
  width: 100%;
  background-color: white;
  position: relative;
  overflow: hidden;
  overflow-x: hidden;
  transition: all 0.5s;
}

.row-box {
  border-radius: 10px;
  width: 80%;
  max-height: 100%;
  padding: 0px;
  overflow-y: scroll;

}

.row-box::-webkit-scrollbar {
  display: none;
}

#first-row-box{
  position: absolute;
  background-color: #FAF9F4;
  transform: translateX(-80%);

}

#second-row-box{
  background-color: #DBD7CF;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  position: absolute;
  transform: translateX(15%);
  z-index: 50;
}

#third-row-box{
  background-color: #272321;
  position: absolute;
  transform: translateX(110%);
  color: white;
}





.slide-in {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    width: 80%;
    animation: slide-in 2s forwards;
    -webkit-animation: slide-in 2s forwards;
    max-height: 100%;
    padding: 0px;
    overflow-y: scroll;
}

.slide-out {
    animation: slide-out 2s forwards;
    -webkit-animation: slide-out 2s forwards;
    width: 80%;
    max-height: 100%;
    padding: 0px;
    overflow-y: scroll;
}



@keyframes slide-in {
    0% { z-index: 0; }
    40% { transform: translateX(-90%);
    z-index: 0;}
    100% { transform: translateX(0%);
    z-index: 1000; }
}

@keyframes slide-out {
    0% { transform: translateX(0%);
    z-index: 1000;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
    60% { transform: translateX(-90%);
    z-index: 0;}
    100% { transform: translateX(-70%);
       }
}

.slide-in2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    width: 80%;
    animation: slide-in2 2s forwards;
    -webkit-animation: slide-in2 2s forwards;
    max-height: 100%;
    padding: 0px;
    overflow-y: scroll;
}

.slide-out2 {
    animation: slide-out2 2s forwards;
    -webkit-animation: slide-out2 2s forwards;
    width: 80%;
    max-height: 100%;
    padding: 0px;
    overflow-y: scroll;
}


@keyframes slide-in2 {
    0% { z-index: 0; }
    40% { transform: translateX(120%);
    z-index: 0;}
    100% { transform: translateX(25%);
    z-index: 1000; }
}

@keyframes slide-out2 {
    0% { transform: translateX(25%);
    z-index: 1000;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
    60% { transform: translateX(120%);
    z-index: 0;}
    100% { transform: translateX(110%);
       }
}
